<nav class="nav2">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo" id="appName">{{t 'app_name'}}</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
<!--            <button class="lang" onclick="setLanguage('ru')">Rus</button>-->
<!--            <button class="lang" onclick="setLanguage('en')">Eng</button>-->
            <li><a class="lang" onclick="setLanguage('ru')">Rus</a></li>
            <li><a class="lang" onclick="setLanguage('en')">Eng</a></li>

            {{#if isHome}}
                <li class="active"><a href="/" id="homeLink">{{t 'home'}}</a></li>
            {{else}}
                <li><a href="/" id="homeLink">{{t 'home'}}</a></li>
            {{/if}}

            {{#if isCourses}}
                <li class="active"><a href="/courses" id="coursesLink">{{t 'courses'}}</a></li>
            {{else}}
                <li><a href="/courses" id="coursesLink">{{t 'courses'}}</a></li>
            {{/if}}

            {{#if isAdd}}
                <li class="active"><a href="/add" id="addCourseLink">{{t 'add_course'}}</a></li>
            {{else}}
                <li><a href="/add" id="addCourseLink">{{t 'add_course'}}</a></li>
            {{/if}}

            {{#if isCard}}
                <li class="active"><a href="/card" id="cartLink">{{t 'cart'}}</a></li>
            {{else}}
                <li><a href="/card" id="cartLink">{{t 'cart'}}</a></li>
            {{/if}}
        </ul>
    </div>
</nav>

<!--<script>-->
<!--    function setLanguage(lang) {-->
<!--        // Установка куки с выбранным языком-->
<!--        document.cookie = `lng=${lang};path=/`;-->
<!--        // Проверка: выведем куки в консоль для отладки-->
<!--        console.log(document.cookie);-->
<!--        // Перезагрузка страницы-->
<!--        location.reload();-->
<!--    }-->
<!--</script>-->
